<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="./vue.js"></script>

    <style>
        .negrito{
            font-weight: bold;
        }

        .vermelho{
            color: red;
        }

        .azul{
            background-color: blue;
        }

        .verde{
            background-color: green;
        }

        .branco{
            background-color: white;
        }       

        .borda{
            border: 1px solid;
        }

        .div-principal{
            width: 200px;
            height: 200px;
        }

        .div-comum{
            width: 50px;
            height: 50px;
            display: inline-block;
        }
    </style>

    <title>Document</title>
</head>
<body>
    <h2>Data</h2>
    <br/><hr/><br/>

    <div id="data">
        Mensagem: {{mensagem}}<br/>
        Valor Total: {{valorTotal}}<br/>
        Logado: {{logado}}<br/>
        Hobbies: {{hobbies}}<br/>
        Hobbie 1: {{hobbies[0]}}<br/>
        Hobbie 2: {{hobbies[1]}}<br/>
        Hobbie 3: {{hobbies[2]}}<br/>
        Perfil: {{perfil}}<br/>
        Nome Perfil: {{perfil.nome}}<br/>
        Site Perfil: {{perfil.site}}<br/>
        Idade Perfil: {{perfil.idade}}<br/>
        Cursos Perfil: {{perfil.cursos}}<br/>
        Nome Curso 1 Perfil: {{perfil.cursos[0].nome}}<br/>
        Carga Horária Curso 1 Perfil: {{perfil.cursos[0].cargaHoraria}}<br/>
        Nome Curso 2 Perfil: {{perfil.cursos[1].nome}}<br/>
        Carga Horária Curso 2 Perfil: {{perfil.cursos[1].cargaHoraria}}<br/>
    </div>

    <br/><hr/><br/>
    <h2>Methods</h2>
    <br/><hr/><br/>

    <div id="methods">
        Somar: {{somar()}}<br/>
        Subtrair: {{subtrair()}}<br/>
        Multiplicar: {{multiplicar()}}<br/>
        Dividir: {{dividir()}}<br/>
    </div>

    <br/><hr/><br/>
    <h2>V-Bind</h2>
    <br/><hr/><br/>

    <div id="bind">
        <p :class="cor" class="negrito">Entendendo a diretiva V-Bind</p><br/>
        <a :href="site">Site</a><br/>
        <input type="text" :placeholder="placeholder" :value="valor"><br/>
        <input type="checkbox" :checked="check"><br/><br/>

        {{mensagem}}<br/>
        {{mensagem.length}}<br/>
        {{mensagem.substr(0, 3)}}<br/>
        {{2 + 2}}<br/>
        <input type="text" :value="2 + 2" :class="false ? 'verde' : estilo"><br/>
    </div>

    <br/><hr/><br/>
    <h2>V-On</h2>
    <br/><hr/><br/>

    <div id="on">
        <input type="text" @keyup="imprimirTexto('Enviando Parâmetro', 5)"><br/>
        <button type="button" @click="mensagemAlerta($event)">Botão</button><br/>
    </div>

    <br/><hr/><br/>
    <h2>Hands-On</h2>
    <br/><hr/><br/>

    
    <div id="hands">
        <div class="borda div-principal" :class="cor">
            Cor: {{cor}}<br/>
            Posição X da DIV: {{xpos}}<br/>
            Posição Y da DIV: {{ypos}}
        </div>
        <hr/>
        <div @click="mudarCor('verde')" class="borda div-comum"></div>
        <div class="borda div-comum" @mouseover="mudarCor('azul')" @mouseout="mudarCor('vermelho')"></div>
        <div class="borda div-comum" @mousemove="coordenadas($event)"></div>
    </div>

    <h2>Implementando Modificadores</h2>
    <br/><hr/><br/>

    
    <div id="mods">
        <a href="https://google.com" target="_blank" @click.prevent="prevenirComportamentoPadrao($event)">Mensagem: {{msg}}</a><br/>
        <button type="button" @click.once="executarUmaVez()">Cliques: {{cliques}}</button><br/>
        <!-- @keyup.[[TECLA_1].[TECLA_2].(....).[TECLA_N]] dispara a função só se as teclas digitadas forem as especificadas -->
        <input type="text" @keyup="capturarTeclas($event)"><br/> 
        Teclas: {{teclas}} <br/>
        <form @submit.prevent.once="prevenirUmaVez()">
            <p>Formulário: {{formulario}}</p><br/>
            <button type="submit">Enviar</button><br/>
        </form>
    </div>

    <br/><hr/><br/>
    <h2>Elementos HTML Pais e Filhos</h2>
    <br/><hr/><br/>

    
    <div id="pai">
        <input type="text" id="filho"><br/> 

        <select id="opcoes">
            <option value="1">Opção A</option>
            <option value="2">Opção B</option>
            <option value="3">Opção C</option>
            <option value="4">Opção D</option>
            <option value="5">Opção E</option>
        </select><br/>

        <p id="paragrafo" style="color:green;"><br/>

        <div id="bloco">Conteúdo Interno da Div</div><br/>

        <button @click="selecionarFilho()">Selecionar</button>
    </div>

    <br/><hr/><br/>
    <h2>V-If</h2>
    <br/><hr/><br/>

    <div id="if">
        <!-- V-IF Simples -->
        <button @click="exibirSaldo = !exibirSaldo">
            <span v-if="!exibirSaldo">Exibir</span><span v-if="exibirSaldo">Ocultar</span> Saldo
        </button> <!-- toggle -->
        <p>Saldo: <span v-if="exibirSaldo">R$ {{saldo}}</span></p>

        <!-- V-IF e V-ELSE -->
        Idade: <input type="text" id="idadeIf" @blur="setIdade" />
        <p v-if="idade < 18">Menor de Idade</p>
        <p v-else>Maior de Idade</p>

        <!-- V-IF, V-ELSE-IF e V-ELSE -->
        Nota: <input type="text" id="notaIf" @blur="setNota"/>
        <p v-if="nota == ''">Digite a nota do aluno</p>
        <p v-else-if="nota <= 4">Aluno Reprovado</p>
        <p v-else-if="nota > 4 && nota <= 6">Aluno de Recuperação</p>
        <p v-else-if="nota > 6">Aluno Aprovado</p>
        <p v-else>A nota informada é inválida</p>
    </div>

    <br/><hr/><br/>
    <h2>V-Show</h2>
    <br/><hr/><br/>

    <div id="show">
        <div style="float:left; height: 300px;">
            <p @mouseover="exibirAjuda = true" @mouseout="exibirAjuda = false">Exemplo Tooltip</p>
        </div>
        <div v-show="exibirAjuda" style="float:left; height: 300px;">
            <h3>Titulo Texto Ajuda</h3>
            <p>Conteúdo Texto Ajuda</p>
        </div>
    </div>

    <br/><hr/><br/>
    <h2>V-HTML</h2>
    <br/><hr/><br/>

    <div id="html">
        <div v-html="elementosHTML">Texto de Exemplo - V-HTML substitui o html do elemento.</div>
    </div>

    <br/><hr/><br/>
    <h2>V-Text</h2>
    <br/><hr/><br/>

    <div id="text">
        <div v-text="elementosHTML">Texto de Exemplo - V-TEXT substitui o text do elemento.</div>
    </div>

    <br/><hr/><br/>
    <h2>V-Once</h2>
    <br/><hr/><br/>

    <div id="once">
        <p v-once>Saldo Inicial: {{saldo}}</p>
        <p>Saldo Atualizado: {{saldo}}</p>
        <input type="text" id="valor">
        <button @click="creditar">Creditar</button>
        <button @click="debitar">Debitar</button>
    </div>

    <br/><hr/><br/>
    <h2>V-For</h2>
    <br/><hr/><br/>

    <div id="for">

        <br/><hr/><br/>
        <h3 style="color:blue;">V-For - Array</h3>
        <br/><hr/><br/>

        <ul>
            <li v-for="(curso, key) in cursos" v-text="key+' '+curso"></li>
        </ul>

        <br/><hr/><br/>
        <h3 style="color:blue;">V-For - Objeto</h3>
        <br/><hr/><br/>
        
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Descricao</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="({titulo, descricao}, key) in cursos_2">
                    <td v-text="key"></td>
                    <td v-text="titulo"></td>
                    <td v-text="descricao"></td>
                </tr>
            </tbody>
        </table>

        <br/><hr/><br/>
        <h3 style="color:blue;">V-For - Renderização HTML com o Atributo Key</h3>
        <br/><hr/><br/>

        <ul>
            <li v-for="(publicacao, key) in publicacoes" style="border: solid 1px; margin-bottom: 10px;" :key="publicacao.id">
                <div>
                    {{ publicacao.publicacao }}
                    <hr/>
                    <input type="text">
                </div>

            </li>
        </ul>
        <button @click="misturarArray">Misturar Publicações</button>

        <br/><hr/><br/>
        <h3 style="color:blue;">V-For - Loop até determinado número</h3>
        <br/><hr/><br/>

        <ul>
            <li v-for="n in 10" v-text="n"></li>
        </ul>

        <br/><hr/><br/>
        <h3 style="color:blue;">V-For - Manipulando e Renderizandos os Objetos usados no loop</h3>
        <br/><hr/><br/>

        <ul>
            <li v-for="comentario in comentarios" v-text="comentario.id+' - '+comentario.comentario"></li>
        </ul>
        <button @click="addElemento">Adicionar Comentário</button>
        <button @click="delElemento">Excluir Comentário</button>
        <button @click="edtElemento">Alterar Comentário</button>
    </div>

    <br/><hr/><br/>
    <h2>Template</h2>
    <br/><hr/><br/>

    <div id="template">
        <template v-if="saudacao">
            <h1>Boas vindas</h1>
            <p>Conteúdo da tag <strong>template</strong></p>
        </template>

        <template v-for="n in 10">
            <p>9 * {{n}} = <strong v-text="n*9"></strong></p>
        </template>
    </div>

    <br/><hr/><br/>
    <h2>Computed</h2>
    <br/><hr/><br/>

    <div id="computed">
        <h4>Adicionar Pacientes</h4>
        <span>Nome: </span><input type="text" id="cptNome" /><br/>
        <span>Idade: </span><input type="text" id="cptIdade" /><br/>
        <span>Plano: </span><input type="text" id="cptPlano" /><br/>
        <button @click="addPaciente">Adicionar Paciente</button>
        <hr/>
        <h4>Último Paciente Cadastrado</h4>
        <hr/>
        <p v-if="pacientes.length > 0" v-html="ultimoPaciente"></p>
        <hr/>
        <h4>Pacientes do Plano Ouro</h4>
        <hr/>
        <p v-for="paciente in pacientesOuro" v-text="paciente.nome"></p>
        <hr/>
        <h4>Pacientes Cadastrados</h4>
        <hr/>
        <p v-for="paciente in pacientes" v-text="paciente.nome"></p>
    </div>

    <br/><hr/><br/>
    <h2>V-Model</h2>
    <br/><hr/><br/>

    <div id="model">
        {{paciente}}<br/>
        <input type="text" v-model="paciente">
        <hr/>
        <input type="radio" value="f" v-model="sexo">Feminino
        <input type="radio" value="m" v-model="sexo">Masculino
        <br/>
        {{sexo}}
        <hr/>
        <select v-model="plano">
            <option value="" disable>Selecione um plano</option>
            <option value="1">Básico 1</option>
            <option value="2">Básico 2</option>
            <option value="3">Master</option>
        </select>
        <br/>
        {{plano}}
        <hr/>
        <input type="checkbox" value="100" v-model="doencas">Asma
        <input type="checkbox" value="101" v-model="doencas">Diabetes Tipo 1
        <input type="checkbox" value="102" v-model="doencas">Rinite
        <br/>
        {{doencas}}
        <hr/>
        <textarea v-model="diagnostico"></textarea>
        <br/>
        {{diagnostico}}
    </div>

    <br/><hr/><br/>
    <h2>Watch</h2>
    <br/><hr/><br/>

    <div id="watch">
        <span>Paciente: </span><input type="text" v-model="paciente"/>
        <hr/>
        <ul>
            <li v-for="p in lista" v-text="p.nome+' - '+p.idade"></li>
        </ul>
    </div>

    <script>
        // Data
        const vm = new Vue({
            el: '#data',
            data: { // Variáveis/Atributos Reativos
                mensagem: 'Primeiro template copntrolado pelo Vue', // string
                valorTotal: 150.47, // numeric
                logado: false, // booleano
                hobbies: [
                    'Dormir',
                    'Jogar Video Game',
                    'Academia'
                ], // array
                perfil: {
                    nome: 'Denis Cury',
                    site: 'denis.org',
                    idade: 27,
                    cursos: [
                        {
                            nome: 'Laravel', 
                            cargaHoraria: '50 hrs'
                        },
                        {
                            nome: 'Banco de Dados Relacionais', 
                            cargaHoraria: '40 hrs'
                        }
                    ]
                } // objeto
            }
        }); 

        // Methods
        const vm2 = new Vue({
            el: '#methods',
            data: {
                n1: 10,
                n2: 5
            },
            methods: {
                somar: function somar(){ // Notação Convencional
                    return this.n1 + this.n2;
                },
                subtrair: function(){ // Notação Anônima
                    return this.n1 - this.n2;
                },
                multiplicar: () => { // Arrow Function
                    return 10 * 5; 
                },
                dividir(){ // Notação mais enxuta
                    return this.n1 / this.n2;
                }
            }
        });

        // V-Bind
        const vm3 = new Vue({
            el: '#bind',
            data: {
                site: 'https://denis.com.br',
                cor: 'vermelho',
                placeholder: 'Diretiva V-Bind',
                valor: 'Curso Laravel',
                check: true,

                mensagem: 'Expressão',
                estilo: 'azul',
                teste: true

            }
        });

        // V-On
        const vm4 = new Vue({
            el: '#on',
            data: {
                xyz: true
            },
            methods: {
                imprimirTexto(t, n){
                    console.log(t);
                    console.log(n);
                    console.log(this.xyz);
                },
                mensagemAlerta(e){
                    console.log(e);
                }
            }
        });

        // Hands-On
        const vm5 = new Vue({
            el: '#hands',
            data: {
                cor: '',
                xpos: 0,
                ypos: 0
            },
            methods: {
                mudarCor(c){
                    this.cor = c;
                },
                coordenadas(e){
                    this.xpos = e.clientX;
                    this.ypos = e.clientY;
                }
            }
        });

        // Implementando Modificadores
        const vm6 = new Vue({
            el: '#mods',
            data: {
                msg: '',
                cliques: 0,
                formulario: '',
                teclas: ''
            },
            methods: {
                prevenirComportamentoPadrao(e){
                    this.msg = 'Comportamento padrão.';
                },
                executarUmaVez(){
                    this.cliques++;
                },
                prevenirUmaVez(){
                    this.formulario = 'Prevenindo comportamento padrão'
                },
                capturarTeclas(e){
                    this.teclas += e.key;
                }
            }
        });

        // Elementos HTML Pais e Filhos
        const vm7 = new Vue({
            el: '#pai',
            data: {
                msg: '',
                cliques: 0,
                formulario: '',
                teclas: ''
            },
            methods: {
                selecionarFilho(){
                    console.log(filho.value);
                    console.log(opcoes.value);
                    console.log(paragrafo.style.color);
                    console.log(bloco.innerHTML);
                }
            }
        });

        // V-If
        const vm8 = new Vue({
            el: '#if',
            data: {
                saldo: 4510.94,
                exibirSaldo: true,
                idade: 0,
                nota: 0
            },
            methods: {
                setIdade(){
                    this.idade = idadeIf.value;
                },
                setNota(){
                    this.nota = notaIf.value;
                }
            }
        });

        // V-Show
        const vm9 = new Vue({
            el: '#show',
            data: {
                exibirAjuda: false
            },
            methods: {
                setExibirAjuda(){
                    this.exibirAjuda= !this.exibirAjuda;
                }
            }
        });

        // V-HTML
        const vm10 = new Vue({
            el: '#html',
            data: {
                elementosHTML: '<p><b>Site</b></p><a href="https://google.com">Google</a>'
            },
            methods: {
            }
        });

        // V-Text
        const vm11 = new Vue({
            el: '#text',
            data: {
                elementosHTML: '<p><b>Site</b></p><a href="https://google.com">Google</a>'
            },
            methods: {
            }
        });

        // V-Once
        const vm12 = new Vue({
            el: '#once',
            data: {
                saldo: 1100
            },
            methods: {
                creditar(){
                    this.saldo += parseFloat(valor.value);
                },
                debitar(){
                    this.saldo -= parseFloat(valor.value);
                }
            }
        });

        // V-For
        const vm13 = new Vue({
            el: '#for',
            data: {
                cursos: ['Laravel', 'Zend Framework', 'SQL Server', 'Angular.js', 'Vue.js', 'jQuery'],
                cursos_2: {
                    1000:{
                        titulo: 'Laravel',
                        descricao: 'Domine o framework PHP mais poderoso do mundo.'
                    },
                    1001:{
                        titulo: 'Banco de Dados',
                        descricao: 'Aprenda os melhores bancos do mercado.'
                    }
                },
                publicacoes:[
                    {
                        id: 1,
                        publicacao: 'Publicação 1'
                    },
                    {
                        id: 2,
                        publicacao: 'Publicação 2'
                    },
                    {
                        id: 3,
                        publicacao: 'Publicação 3'
                    },
                ],
                comentarios:[
                    {
                        id: 1,
                        comentario: 'Comentário 1'
                    },
                    {
                        id: 2,
                        comentario: 'Comentário 2'
                    },
                    {
                        id: 3,
                        comentario: 'Comentário 3'
                    },
                    {
                        id: 4,
                        comentario: 'Comentário 4'
                    },
                    {
                        id: 5,
                        comentario: 'Comentário 5'
                    },
                    {
                        id: 6,
                        comentario: 'Comentário 6'
                    },
                ]
            },
            methods: {
                misturarArray(){
                    let misturado = [];

                    misturado[0] = this.publicacoes[2];
                    misturado[1] = this.publicacoes[0];
                    misturado[2] = this.publicacoes[1];

                    this.publicacoes = misturado;
                },
                addElemento(){
                    this.comentarios.push({id: 7, comentario: 'Comentário 7'});
                },
                delElemento(){
                    this.comentarios.pop();
                },
                edtElemento(){
                    this.$set(this.comentarios, 1, {id: 2, comentario: 'Comentário Atualizado'});
                }
            }
        });

        // Template
        const vm14 = new Vue({
            el: '#template',
            data: {
                saudacao: true
            },
            methods: {
            }
        });

        // Computed
        const vm15 = new Vue({
            el: '#computed',
            data: {
                pacientes: []
            },
            methods: {
                addPaciente(){
                    this.pacientes.push(
                        {
                            nome: cptNome.value,
                            idade: cptIdade.value,
                            plano: cptPlano.value
                        }
                    );
                }
            },
            computed:{
                ultimoPaciente(){
                    let key = this.pacientes.length-1;
                    let txt = '';

                    txt += 'Paciente: ' + this.pacientes[key].nome+', '+
                            'Idade: ' + this.pacientes[key].idade+', '+
                            'Plano: ' + this.pacientes[key].plano+'<br/>';

                    return txt;
                },
                pacientesOuro(){
                    return this.pacientes.filter(item => item.plano == 'Ouro');
                }
            }
        });

        // V-Model
        const vm16 = new Vue({
            el: '#model',
            data: {
                paciente: 'João da Silva',
                sexo: '',
                plano: '',
                doencas: [],
                diagnostico: ''
            },
            methods: {
            },
            computed:{
            }
        });

        // Watch
        const vm17 = new Vue({
            el: '#watch',
            data: {
                paciente: '',
                pacientes:[
                    {
                        nome: 'Denis Cury',
                        idade: '27'
                    },
                    {
                        nome: 'Pedro Clivatti',
                        idade: '26'
                    },
                    {
                        nome: 'Paulo Clivatti',
                        idade: '25'
                    },
                    {
                        nome: 'Laura Maria',
                        idade: '24'
                    },
                ],
                lista: []
            },
            methods: {},
            computed:{},
            watch:{
                paciente(valor_novo){
                    this.lista = this.pacientes.filter(p => p.nome.match(valor_novo));
                }
            }
        });
    </script>
</body>
</html>